@font-face {
  font-family: 'b koodak';
  src: url('../fonts/BKoodakBold.eot?#') format('eot'),  /* IE6–8 */
       url('../fonts/BKoodakBold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../fonts/BKoodakBold.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}
*{
    transition: 200ms;
}
body{
    padding: 0;
    margin: 0;
    font-size: 16px;
    background: #fafafa ;
    color: rgb(55, 55, 55);
    font-family: b koodak ;
}

header{
    width: 100%;
    text-align: center;
}

#header-menu-btn{
    float: right;
     display:none ;
}

#header-menu-close-btn{
    width: 100%;
    text-align: right;
    margin: 10px;
    font-size: 20px;
     display:none ;
}

header img{
    max-height: 50px;
    max-width: 200px;
    float: left;
}
header > section{
    width: 100%;
    max-width: 700px;
    height: 70px;
    padding: 10px 20px;
    margin: 30px auto auto;
    box-sizing: border-box;
    border: 2px solid rgb(133, 131, 131);
    border-radius: 10px;

}


header > div {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

header div > form > input{
    font-size: 16px;
    font-weight: 300;
    border-radius: 15px;
    float: right;
    font-family: b koodak;
    margin: 10px;
    padding: 5px;
    border: 1px solid rgb(128, 128, 128);
    
   
}

header div > form{
    display: inherit;
    align-items: center;
    position: relative;
    
}


header .header-link{
   
    font-size: 17px;
    font-weight: 700;
    text-decoration: none;
    color: rgb(58, 57, 57);
    margin: 5px;
    padding: 5px;
    float: right;
    background-color: rgb(219, 215, 143);
    border: 2px solid rgb(219, 215, 143);
    border-radius: 15px;
    font-family: b koodak;
    
   
}

header a:hover{
   
    background-color: rgb(243, 240, 190);
}




.products{
    max-width: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
}


.product-box section{
    max-width: 200px;
    margin: 15px;
    height: 430px;
    background-color: rgb(219, 215, 143);
    border: 2px solid rgb(219, 215, 143);
    border-radius: 15px;
  
}


.price{
    font-size: 15px;
    font-weight: 500;

}




.product-box section> img{
    width: 200px;
    height: 250px;
    margin: 0;
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
}

.product-box section h3{
    margin: 0;
    font-size: 16px;
    display: block;
    justify-content: center;
    text-align: center;

}


.add-to-cart-btn {
    text-decoration: none;
    padding: 5px;
    font-size: 12px;
    font-weight: 400;
    color: aliceblue;
    background-color: rgb(9, 78, 39);
    border: 2px solid rgb(4, 88, 59);
    border-radius: 15px;
    position: absolute;
    display: flex;
    font-family: b koodak;
    top: 20px;
    left: 20px;
    opacity: 0;
}

.product-box{
    position: relative;
}

.add-to-cart-btn:hover{
    background-color: rgba(74, 228, 141, 0.574);

}


.product-box:hover .add-to-cart-btn{
    opacity: 1;
}

.product-box section > p{
    margin: 0;
    font-size: 12px;
    font-weight: 300;
}


a.icon{
    display: inline-flex;
    align-items: center;
}
    

a.icon > img{
    width: 30px;
    margin-left: 5px;

}


.tag{
    display: flex;
    align-items: center;
}
.tag img{
    width: 20px;
    margin-right: 5px;
    margin-left: 5px;
}




.add-to-cart-btn2 {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: aliceblue;
    background-color: rgb(9, 78, 39);
    border: 2px solid rgb(4, 88, 59);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 100%;
    height: 50px;
    font-family: b koodak;
    display: flex;
    justify-content: center;


    
}

.add-to-cart-btn2:hover{
    background-color: rgba(228, 10, 10, 0.899);
    border: 2px solid red;

}


.product-detail-box{
    max-width: 800px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    margin:auto ;
    margin-top: 50px;
    background-color: rgb(252, 255, 242);
    border-radius: 10px;
    border: 2px solid rgb(213, 216, 200);
    padding: 10px;
}

.product-detail-box > section{
   max-width: 450px;

}

.tag-red{
    background-color: rgba(234, 132, 132, 0.751);
    border: 2px solid rgba(220, 39, 39, 0.696);
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    font-size: 13px;
    width: inherit;
    height: 20px;
    padding-left: 10px;
 
}


.tag-blue{
    background-color: rgba(157, 174, 242, 0.641);
    border: 2px solid rgba(39, 51, 220, 0.442);
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    font-size: 13px;
    width: inherit;
    height: 20px;
    padding-left: 10px;
 
   
}

.tag-blue img{
    width: 25px;
}

.tag-red img{
    width: 25px;
}

.tag-green{
    background-color: rgba(157, 242, 174, 0.641);
    border: 2px solid rgba(39, 220, 54, 0.442);
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    font-size: 13px;
    width: inherit;
    height: 20px;
    padding-left: 10px;
}

.tag-green img{
     width: 25px;
}


.product-detail-box>div> img{
    max-width: 250px;
    margin: 20px;
    width: 100%;

}


.product-detail-box h6{
    font-size: 12px;
    margin: 0;
}

.product-detail-box p{
    margin: 0;
    
}


.product-detail-box .price{
    font-size: 20px;
    font-weight: 500;
    background-color: rgba(223, 223, 224, 0.638);
    width: 100%;
    padding: 1.5px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
 
}


.price-box{
    margin: auto;
   
    justify-content: center;
    align-items: center;
    text-align: center;
}

.description{
    margin-right: 30px;
    margin-left: 30px;
    max-width: 1100px;
     display:flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    margin:auto ;
   

}

.description p{
    text-align: justify;
    box-sizing: border-box;
    width: 100%;
}



.similar-products-box{
    max-width:  1100px; 
    margin: auto;
}



.simple-box{
    background-color: #ffffff;
    border: 2px solid rgb(179, 183, 186);
    border-radius: 25px;
    max-width: 800px;
    margin: auto;
    margin-top: 2px;
    padding: 10px;
    overflow: auto;
}

table.cart{
    margin: auto;
}




table.cart td{
    border-bottom:2px solid rgba(0, 0, 0, 0.177) ;
    padding: 5px;
}


/* نکته اگر اسپیس نذاریم تو پایینی میگرده هردو کلاس رو پیدا کنه */
.cart .pay-btn{
    text-decoration: none;
    color: rgb(197, 194, 194);
    font-size: 20px;
    float: left;
    border-radius: 10px;
    background-color: rgb(10, 95, 34);
    padding: 10px;
    display: inline-flex;
    align-items: center;
}

.cart .pay-btn:hover{
     background-color: rgb(59, 255, 115);
     color: rgb(116, 115, 115);
}

.cart .pay-btn > img{
    width: 30px;
    margin-right: 3px;
}

.cartitem-decrease{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    padding: 2px;
    background: rgba(255, 0, 0, 0.232);
    color: #f50000;
    margin: 5px;
}

.cartitem-increase{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    padding: 2px;
    background: rgba(0, 128, 0, 0.281);
    color: #0d5600;
    margin: 5px;
}


@media (max-width:650px){
    header >section> div{
        position: absolute;
        left: 0;
        right: 0;   
        top: 0; 
        background-color: aliceblue;
        display:block ;
        z-index: 99;
        height: 0;
        overflow: hidden;
        
       
    }

    header> section > div> *{
        display: block;
        width: 90%;
        margin: 5px;
        align-items: center;
        justify-self: center;
        

    }

    #header-menu-btn{
        display: block;
    }

    #header-menu-close-btn{
        display: block;
    }


}