{% extends 'base.html' %}

    
{% block header %}
    <title>فروشگاه اینترنتی تست 1</title>
  
{% endblock %}

{% block body %}


    <header>
        <section>
            <img src="{{url_for('static', filename = 'images/images.png')}}" alt="fari online store">
            <div>
                <a href="#">صفحه ی اصلی</a>
                <a href="#">درباره ی ما</a>
                <a href="#">محصولات جدید</a>
                <a href="#">محصولات پرفروش</a>
            </div>
        </section>
    </header>
    <br>
    <section class="products">
        {% for p in products %}
            <section class="product-box">
                <img src="{{url_for('static', filename = 'cover/'+p.id|string+'.jpg')}}">

                <h3>{{ p.name }}</h3>
                <P>{{ p.description|truncate(20) }}</P>
                <a href="{{url_for('general.product' , id = p.id , name = p.name  )}}">توضیحات بیشتر</a>
                <a class="blue" href="/add-to-cart?product_id={{ p.id }} "> افزودن به سبد خرید</a>
                <br>
            </section>
        {% endfor %}
    </section>
{% endblock %}